header {
   background-color: #000000; background: linear-gradient(to right, #000000, #ffffff 65%, #000000);
    font-family: "Calibri", "arial", sans-serif;
    text-align: center;
    font-size: 0px;
    margin-top: -15px
}


body {
    font-family:  "Calibri", "arial", sans-serif;
    color: #000000; background: linear-gradient(to right, #000000, #ffffff 65%, #000000);;
    background-color: #000000; background: linear-gradient(to right, #000000, #ffffff 65%, #000000);
    font-size: 20px;
	
}

#wrapper {
	float: left;
    background-color:#fff;
    width 90%;
    margin: 0 auto;
    padding-bottom: 5px;
	
	
}

#box {
    float: left;
	margin-left: 5%;
    width: 90%;
    margin-top: 5%;
	margin-bottom: 5%;
	text-align: left;
	
}



  p  {
	
    color: #000000;
    margin-top:8px;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
	padding-right: 10px;
	text-align: left;
}


} 
#portrait {
 float: right;
	color: #000000;
    margin-top:8px;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
	
	

	
} 

#contentlink{
	color: #OOOOOO;
}

h1 {
    background-color: #3366cc;
    color: #000000;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 1px;
    font-family: "Calibri", "Arial", sans-serif;
}

h2{
    background-color: #ffffff;
    color: #D2691E;
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left:5px;
    font-family: "Calibri", "Arial", sans-serif;
}

h3{
	background-color: #ffffff;
    color: #000000;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left:0px;
    font-family: "Calibri", "Arial", sans-serif;
}

 #nav {
    font-family: "Calibri", "Arial", sans-serif;
    font-size: 26px;
    display: table;
    width: 100%;
    margin: 0;
    margin-left: -40px;
}

#nav li {
    display: table-cell;
    width: 25%;
    line-height: 45px;
    text-align: center;
    background-color: #000000; background: linear-gradient(to right, #000000, #ffffff 65%, #000000);
}

footer{
    text-align:center;
    background-color: #000000; background: linear-gradient(to right, #000000, #ffffff 65%, #000000);
    color: #000000;
	 font-family: "Calibri", "Arial", sans-serif;
}

a {
    text-decoration:none;
    color: #000000;
}

a:hover {
    color: #D2691E;
}



@media screen and (max-width: 400px) {
    
    body {
        padding: 3%
	font-family: "Calibri", "Arial", sans-serif;
    }

    h1 {
		 font-family: "Calibri", "Arial", sans-serif;
    text-align: center;
    font-size: 18px;
    }

    nav {
		 font-family: "Calibri", "Arial", sans-serif;
    border: 0;
    font-size: 20px;
    width: 100%;
		
}
    
    p {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 20px;
        font-size: 16px;
		 font-family: "Calibri", "Arial", sans-serif;
    }

}
    