* {
    box-sizing: border-box;
}

body {font-size: 16px;
}


p {
    margin-bottom: 16px;
}



header {
    color: #aaaaaa;
    text-decoration: none;
}
header h1 {
    float: left;
    font-family: helvetica, arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    
}

header a {
    background-color: #000000;
    color: #ffffff;
}

header a:link {}
header a:visited {}
header a:hover {
    color: #ffffff;
}
header a:active {
    text-decoration: underline;
}
header a:focus {}

article {
    clear: both;
}

article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 4px;
}

article h2 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 4px;
}



