
header {
    background-color: #505050;
    font-family: Calibri;
    text-align: center;
    font-size: 0px;
    margin-top: -15px;
}

body {
   font-family:  Calibri;
    color: #000000; background: linear-gradient(to right, #000000, #ffffff 65%, #000000);;
    background-color: #000000; background: linear-gradient(to right, #000000, #ffffff 65%, #000000);
    font-size: 20px;
}

#center {
    text-align:
        center;
} 

#wrapper {
    background-color:#fff;
    width 90%;
    margin: 0 center;
    padding-bottom: 5px;
}

#box{
    margin-left: 5%;
    width: 90%;
	margin-bottom: 5%;
	margin-top: 5%;
}

p {
    color: #000000;
    margin-top:8px;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
	text-align: center;
}

h1 {
    background-color: #3366cc;
    color: #000000;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 1px;
    font-family: Calibri;
}

 #nav {
    font-family:Calibri;
    font-size: 26px;
    display: table;
    width: 100%;
    margin: 0;
    margin-left: -40px;
}

#nav li {
    display: table-cell;
    width: 25%;
    line-height: 45px;
    text-align: center;
    background-color: #000000; background: linear-gradient(to right, #000000, #ffffff 65%, #000000);
}

footer{
    text-align:center;
    background-color: #000000; background: linear-gradient(to right, #000000, #ffffff 65%, #000000);
    color: #000000;
}

a {
    text-decoration:none;
    color: #000000;
}

a:hover {
    color: #F7FF00;
}

@media screen and (max-width: 400px) {
    
    body {
        padding: 3%
    }

    h1 {
    text-align: center;
    font-size: 18px;
    }

    nav {
    border: 0;
    font-size: 20px;
    width: 100%;
}
    
    p {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    
	nav 
	{font-size: 14px;
		
	}

}
    